@import 'src/styles/settings.scss';

.c-button {
  display: block;
  width: $width-l;

  padding: $space-xs;
  border: $border-s solid $color-primary;
  border-radius: $space-xs;

  background: $color-primary;
  color: $color-white;

  text-align: center;
  font-size: $font-size-s;

  cursor: pointer;

  &:hover {
    background: $color-white;
    color: $color-primary;
  }

  &--secondary {
    background: $color-white;
    color: $color-primary;

    &:hover {
      background: $color-primary;
      color: $color-white;
    }
  }
}
