@import 'src/styles/settings.scss';

.c-navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;

  width: $width-max;

  margin-top: $space;
  padding: $space-s $space-l;

  background-color: $background-color;
  backdrop-filter: blur($blur-l);

  &__image {
    width: $width-xxs;
  }

  &__actions {
    display: flex;
    justify-content: center;
    align-items: center;

    width: $width-m;

    font-size: $font-size;
  }

  &__icon {
    width: $width-s;

    color: $color-white;

    &--logout {
      height: $height-xl;

      cursor: pointer;

      transform: scaleX(-1);
    }

    &:hover {
      color: $color-primary;
    }
  }
}
