@import 'src/styles/settings.scss';

.c-edit-profile {
  display: flex;
  justify-content: center;

  margin-top: $space-xxl;

  &__buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__submit {
    margin-bottom: $margin-xs;
  }
}
