@import 'src/styles/settings.scss';

.c-card {
  display: flex;
  flex-direction: column;

  padding: $space-xl;
  border-radius: $border-xxl;

  background-color: $background-color;
  color: $color-white;

  box-shadow: $border-s $border $border-xxl $drop-shadow;

  &__title {
    text-align: center;
    font-size: $font-size-xl;
    font-weight: $fw-base;
  }

  &__children {
    margin-top: $margin-xs;

    font-size: $space;
  }
}
