@import 'src/styles/settings.scss';

.c-input {
  padding: $space-s 0;
  margin: $space-s 0;

  &__field {
    width: $width-max;

    padding: $space-s $space-s;
    margin-top: $space-s;
    border: $border-m solid $color-white;
    border-radius: $space-s;

    &:focus {
      outline: none;
    }

    &::placeholder {
      font-size: $font-size-xs;
    }

    &:focus::placeholder {
      color: transparent;
    }

    &--error {
      border: $border-m solid $color-warning;
    }
  }
}
